# Run Php without filename extension
<IfModule mod_rewrite.c>
  RewriteEngine on
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME}\.php -f
  RewriteRule ^(.*)$ $1.php

  #redirect to www
  RewriteCond %{HTTP_HOST} ^yourdomain.com [NC]
  RewriteRule ^(.*)$ http://www.voxel.cc/$1 [L,R=301]
</IfModule>