# Run Php without filename extension
<IfModule mod_rewrite.c>
  RewriteEngine on
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME}\.php -f
  RewriteRule ^(.*)$ $1.php
</IfModule>

# Redirect to port 443
<VirtualHost *:80>
ServerName www.voxel.cc
Redirect permanent / https://www.voxel.cc/
</VirtualHost>

