html {
    word-break: break-word !important;
    overflow-wrap: break-word !important;
}


body {
    font-family: aktiv-grotesk-extended, sans-serif;

}


h1,
h2,
h3,
h4,
h5,
h6 {}

h1 {
    font-weight: 700;
    font-size: 100px;
}

h2 {
    font-weight: 700;
    font-size: 80px;

}

h3 {
    font-weight: 700;
    font-size: 60px;
}

h4 {
    font-weight: 500;
    font-size: 30px;
}

h5 {
    font-weight: 500;
    font-style: italic;
    font-size: 25px;
}

h6 {
    font-weight: 500;
    font-size: 25px;
}

p {
    font-weight: 500;
    font-size: 18px;
}

a {}

img {}

caption {}


button {}


.modal-dialog {
    max-width: 90%;
    margin: 1.75rem auto;
}

.modal-content {
    background-color: transparent;
    border: 0px;
}

.modal-backdrop.show {
    opacity: 0.9;
}


.close {
    position: absolute;
    top: -30px;
    right: 25px;
    font-size: 48px;
    margin-left: 50px;
    font-weight: 900'';
    z-index: 1060;
}

.btn {
    /*    border-radius: 1000px;*/
}

/* Increase container width on large screens, make it look nicer */
@media (min-width: 1600px) {
    .container {
        max-width: 1500px;
    }
}


.footer {
    background-color: #f5f5f5;
}


.masthead {
    height: 25vh;
    min-height: 500px;
    background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.navbar {
    height: 80px;
    background-color: white;
}

.navbar-brand {
    margin: 0px;
    font-size: 40px;
}


.sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1030 !important;
    /* Stay on top */
    top: 0px;
    left: 0;
    background-color: #111;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    /*    text-decoration: none;*/
    /*    font-size: 25px;*/
    /*    color: #818181;*/
    display: block;
    transition: 0.3s;
    flex-wrap: nowrap;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover,
.offcanvas a:focus {
    /*    color: white;*/
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 48px;
    margin-left: 50px;
    font-weight: 900''
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

/* Use class to control open close, toggled in js */
.sidenav.openclose {
    width: 80%;
}


/* Featurettes
------------------------- */

.featurette-divider {
    margin: 3rem 0;
    /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}



@media (min-width: 40em) {

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 1rem;
    }
}


.button-container {
    display: inline-block;
    cursor: pointer;
    padding-top: 10px
}

.bar1,
.bar2 {
    width: 30px;
    height: 5px;
    background-color: mediumblue;
    margin: 10px 0;
}


.hidelogin {
    display: none;
}

@media (min-width: 576px) {

    .hidelogin {
        display: flex;
    }
}
