.techspecs {
    background-color: black;
    color: white;

}

.carousel a {
    z-index: 1000;
}

.carousel-inner {
    background-color: aqua
}


.carousel-caption {
    color: black;
    left: 60%;
    right: 5%;
    top: 15%;
    text-align: left;

}

.carousel-item img {
    width: 50%;
    max-height: 800px;
}
